<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
<header></header>

    <body>	 
        <div class="container-index">
        <form class="" action="/create_admin_entry" method="post">
            <div class="title-index">
                <label for="name">Title: </label>
                <input type"text" name="admin_workout_name" value="">
            </div>
                <label for="name">Workout: </label>
                <br></br>
                <textarea class ="journal-entry-text" Name="admin_workout" ROWS="4" COLS="30"></textarea>
                <input class="submit-button" type="submit" name="" value="Submit">
    </body>
</div>