@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
    
  .page-container {
    position: relative;
    min-height: 100%;
  }
  body {
    background-color: #fff;
    color: #191818;
    
  }

  .wrapper { 
    padding-bottom: 180px;
    overflow: auto;
    width: 85%;
    margin: auto;
  }

  footer, .push{height: 180px;}
  
  footer.branding { 
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #191818;
    color: rgb(83, 83, 83);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    border-top: 1px solid #292929;
    float: center;
  }

  .footer-logo{
    padding: 12px;
  }

  head{
    overflow-x: hidden;
  }

  .logo{
    padding-left: 25px;
  }

  .space div{
    width: 10px;
  }

  .burger div{
    width: 35px;
    height: 3px;
    margin: 7px;
    background-color: rgb(226, 226, 226);
    transition: all 0.3s ease;
  }
  
  .athlete-table { 
    background-color:rgb(48, 48, 48);
    opacity: 80%;
    width: 100%;
  }

  tbody { }

  .athlete-row { width: 100%; height: 50px; }

  .table-infoa {
    vertical-align: bottom;
    text-align:center;
    text-size-adjust:100%;
    text-transform:uppercase;
    width:119.563px;
    border-right-color:rgb(117, 120, 123);
    border-right-style:solid;
    border-right-width:1px;
    font-family:"raleway", Helvetica, Arial, sans-serif;
    font-size:14px;
  }

.table-infob {
  vertical-align: top;
  text-align:center;
  text-size-adjust:100%;
  text-transform:uppercase;
  width:119.563px;
  border-right-color:rgb(117, 120, 123);
  border-right-style:solid;
  border-right-width:1px;
  font-family:"raleway", Helvetica, Arial, sans-serif;
  font-weight: 800;
  font-size: 26px;
  color: rgb(255, 255, 255);
}

.journal-cella {
  text-align:center;
  text-size-adjust:100%;
  width:200px;
  border-right-color:rgb(117, 120, 123);
  border-right-style:solid;
  border-right-width:1px;
  font-family:"raleway", Helvetica, Arial, sans-serif;
}

.journal-cellb {
  text-align:center;
  text-size-adjust:100%;
  width:100px;
  border-right-color:rgb(117, 120, 123);
  border-right-style:solid;
  border-right-width:1px;
  font-family:"raleway", Helvetica, Arial, sans-serif;
}

.journal-cellc {
  text-align:center;
  text-size-adjust:100%;
  width:100px;
  font-family:"raleway", Helvetica, Arial, sans-serif;
}

.item-label{
  box-sizing:border-box;
  color:rgb(117, 120, 123);
  display:block;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-size:14px;
  height:19px;
  line-height:20px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  text-align:center;
  text-size-adjust:100%;
  text-transform:uppercase;
  width:63.2813px;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.item-text {
  box-sizing:border-box;
  color:rgb(255, 255, 255);
  display: flex;
  font-family:"Open Sans", Helvetica, Arial, sans-serif;
  font-size:18px;
  font-weight:800;
  height:25px;
  line-height:25.7143px;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-top:6px;
  text-align:center;
  text-size-adjust:100%;
  text-transform:uppercase;
  width:63.2813px;
  -webkit-font-smoothing:antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.alert-success {
  color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

  .burger div:hover {     background-color: #48C9B0;   }

  nav {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 8vh;
    background-color: #191818;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    line-break: strict;
    width: 15%;
    position: absolute;
    left: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #292929;
    flex-direction: column;
    line-height: 48px;
    padding: 16px;
    align-items: center;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .nav-login {
    display: flex;
    position: absolute;
    right: 16px;
  }
 
  .nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14 px;
    font-weight: bold;
  }
  .nav-links a:hover {     color: #48C9B0;   }
  .nav-links a:active {     color: rgba(72, 201, 175, 0.5)   }

  .nav-login li {
    padding: 16px;
  } 

  .nav-login a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 14 px;
    font-weight: bold;
  }
  .nav-login a:active {     color: rgba(72, 201, 175, 0.5)   }
  .nav-login a:hover {     color: #48C9B0;   }

  .nav-active{
    transform: translateX(0%);
  }
 
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(-50px);
    } to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 { transform: translateY(9px) rotate(-45deg) } 
  .toggle .line2 { opacity: 0; }
  .toggle .line3 { transform: translateY(-9px) rotate(45deg) }

  html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  }

  /* --- Welcome Page Styles --- */
 
  .container-image {
    position: relative;
    text-align: center;
    color: white;
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding-bottom: 18px;
  }
  .center-left {
    text-align: left;
    position: absolute;
    top: 30%;
    left: 16px;
  }

  .bottom-table{
    position: absolute;
    bottom: 0;
    height: 100px;
    width:100%;
    margin-bottom: 30px;
  }

  .bottom-bar {
    
    
    
    align-content:stretch;
box-sizing:border-box;
color:rgb(26, 26, 26);
display:flex;
flex-wrap:nowrap;
font-family:"Open Sans", Helvetica, Arial, sans-serif;
font-size:14px;
height:103px;
justify-content:flex-start;
line-height:20px;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin-block-end:0px;
margin-block-start:0px;
margin-bottom:0px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
max-width:1200px;
padding-inline-start:0px;
padding-left:0px;
text-size-adjust:100%;
width:769px;
-webkit-font-smoothing:antialiased;
-webkit-tap-highlight-color:rgba(0, 0, 0, 0);
  }
  .container-index {
    background: #48C9B0;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    padding: 16px;
    width: 100%;
    height: auto;
    min-height: 400px; 
  } 
  .container-post {
    background: #48C9B0;
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    padding: 16px;
    width: 100%;
    height: auto;
    min-height: 400px; 
  } 
  
  .form-login {
    position: relative;
    z-index: 100;
    text-align: center;
    box-sizing: border-box;
    display: block;
    margin-top: 0;
    align-items: center;
  }

  .form-row {
    padding: 12px;
    align-items: center;
  }

  .form-row input{
    box-shadow: 0 0 15px 0 transparent;
    border: 0 none;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    width: 400px;
    box-sizing: border-box;
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
  }

  .form-rows {
    padding: 12px;
    align-items: center;
  }

  .form-rows input{
    box-shadow: 0 0 15px 0 transparent;
    border: 0 none;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    width: 37%;
    box-sizing: border-box;
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
  }
  .form-rowsb input{
    box-shadow: 0 0 15px 0 transparent;
    border: 0 none;
    border-radius: 5px;
    padding: 15px;
    height: auto;
    width: 24%;
    box-sizing: border-box;
    background-color: rgb(232, 240, 254) !important;
    background-image: none !important;
    color: -internal-light-dark-color(black, white) !important;
  }

  .form_input {
    width: 500px;
  }

  .submit-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .welcome {
    color: #fff;
    font-weight: 900;
    line-height: 1;
    letter-spacing: 1px;
    font-size: 48px;
    text-align: center;
    margin-block-start: 0.9em;
    margin-block-end: 0.25em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Open Sans', sans-serif;
  }

  .no-account {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    padding: 8px;
    margin-top: 26px;
  }

  .submit-button {
    margin-top: 6px;
    display: block;
    width: 100%;
    background-color: #48C9B0;
    border-color: #48C9B0;
    color: #fff;
    line-height: 1;
    border: 2px solid #555;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    letter-spacing: 2px;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .1s ease-in-out;
    transition-property: background-color,border-color;
    box-shadow: 0 0 15px 0 transparent;
    border: 0 none;
    border-radius: 5px;
    height: auto;
    box-sizing: border-box;
 }
 .submit-button:hover{
    background-color: #fff;
    color: #48C9B0;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
    font-family: 'Open Sans', sans-serif;
    color: #292929;
  }

  .image-texta {
    font-size: 27px;
    line-height: 27x;
    font-family: 'raleway', sans-serif;
    color: #fff;
    font-weight:900;
  }
  .image-textb {
    font-size: 47px;
    line-height: 47px;
    font-family: 'raleway', sans-serif;
    color: #fff;
    font-weight:900;
  }

  h2 {
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 6px;
    color: #292929;
  }

  .title-index {
    border-bottom: 2px solid #292929;
    margin-bottom: 12px;
  }
  
  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    padding-bottom: 200px;;
    overflow: hidden;
  }

  .content {
    float: left;
    margin-left: 6px;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

   .journal-entry-text {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
    font-family: Tahoma, sans-serif;
    background-image: url(bg.gif);
    background-position: bottom right;
    background-repeat: no-repeat;
  }

}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: transparent;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}
