<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
<header></header>

    <body>	 
        <div class="container-index">
        <form class="" action="/create_entry" method="post">
            <div class="title-index">
                <label for="name">Title: </label>
                <input type"text" name="workout_name" value="">
            </div>
                <label for="rx">RX(Y/N): </label>
                <input type"text" name="rx" value="">
                <label for="score">Score: </label>
                <input type"text" name="score" value="">
                <br></br>
                
                    <label for="name">Workout: </label>
                    <br></br>
                    <textarea class ="journal-entry-text" Name="workout" ROWS="4" COLS="30"></textarea>
                
            </div>
        </div>
    </body>