<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
<header></header>

    <body>	 
        <div class="container-index">
        <form class="" action="/create_entry" method="post">
            <div class="title-index">
                <label for="name">Title: </label>
                <input type"text" name="workout_name" value="">
            </div>
                <label for="rx">RX: </label>
                <select id="rx" name="rx">
                    <option value="true">RX</option>
                    <option value="false">Scaled</option>
                </select>
                <label for="score">Score: </label>
                <input type"text" name="score" value="">
                <br></br>
                
                    <label for="name">Workout: </label>
                    <br></br>
                    <textarea class ="journal-entry-text" Name="workout" ROWS="4" COLS="30"></textarea>
                    <input class="submit-button" type="submit" name="" value="Submit">
            </div>
        </div>
    </body>