<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <body>
   
    <style>
    body {
      background: url(../images/coach_junaid.jpg) no-repeat center center fixed ;
      background-size: cover ;
      position: relative;
      width: 100%;
    }
    </style>
</div>
    <form class="form-login" name="signupform" id="signupform" action="/users" method="post">
      <h1>Athlete Info</h1>  
      <div class="form-rows">
        <input type="text" name="email" id="user_email" class="form-input"  value="" size="20" placeholder="Username@email.com">
        <input type="text" name="password" id="user_password" class="form-input" value="" size="20" placeholder="Password">
        <br></br>
        <input type="text" name="first_name" id="user_first_name" class="form-input" value="" size="20" placeholder="First Name">
        <input type="text" name="last_name" id="user_last_name" class="form-input" value="" size="20" placeholder="Last Name">
        <br></br>
      </div>
      <div class="form-rowsb">
        <input type="text" name="month" id="user_birth_month" class="form-input" value="" size="20" placeholder="Birth Month">
        <input type="text" name="day" id="user_birth_day" class="form-input" value="" size="20" placeholder="Birth Day">
        <input type="text" name="year" id="user_birth_year" class="form-input" value="" size="20" placeholder="Birth Year">
        <br></br>
        <input type="text" name="sex" id="user_sex" class="form-input" value="" size="20" placeholder="Male/Female">
        <input type="text" name="height" id="user_height" class="form-input" value="" size="20" placeholder="Height(inches)">
        <input type="text" name="weight" id="user_weight" class="form-input" value="" size="20" placeholder="Weight(pounds)">
      </div>
      <br></br>
      <div class="submit-form">
          <input class="submit-button" type="submit" name="" value="Submit" style="width: 50%;">
      </div>
    </form>
    
  </body>
</div>