<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/main.css" />
<div class="error-msg">
  <% flash.each do |name, msg| %>
      <div class="error-msg">
      
        <%= msg %>
      </div>
  <% end %>
</div>
 </html>
