<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Journal</h2>

    <div class="content">
      <p>Journal</p>
    </div>

    

  </div>
</div>
