<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>Whiteboard</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
    
    
    <nav>
      <div class="space">
        <div class="space1"></div>
      </div>
      <div class="burger">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-links">
        <li>
          <a href="/whiteboard">Whiteboard</a>
        </li>
        <li>
          <a href="/workouts">Workouts</a>
        </li>
        
        <li>
          <a href="/users/journal/">Journal</a>
        </li>
        <li>
          <a href="/about">About Us</a>
        </li>
      </ul>
      <div class="logo">
        <a href="/">
          <img src="/images/wblogo.png" class="img-responsive main-image">
        </a>
      </div>
      <ul class="nav-login">
        <li>
          <a href="/users/login">Log In<a/>
        </li>
        <li>
          <a href="/users/signup">Sign Up<a/>
        </li>
      </ul>
    </nav>

  <script src="/javascripts/app.js"></script>

  </head>
  <body>
    <div class="wrapper">
      <%= yield %>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>

  <footer class="branding">
    <div class="footer-logo">
        <img src="/images/wblogo.png" class="img-responsive main-image">
    </div>
        <small>&copy; 2020 <strong>Whiteboard</strong></small>
  </footer>
</html>
