<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <body>
           
    <form class="form-login" name="loginform" id="loginform" action="/login" method="post">
    <h2 class="welcome">Welcome Back!</h2>
                    
    <div class="form-row">
       <label class="form-label" for="user_login"></label>
       <input type="text" name="email" id="user_email" class="form-input" value="" size="20" placeholder="Username@email.com">
    </div>

    <div class="form-row">
      <label class="form-label" for="user_login"></label>
      <input type="text" name="password" id="user_password" class="form-input" value="" size="20" placeholder="Password">
    </div>

    <div class="login-form_footer">
        <input class="submit-button" type="submit" name="log-submit" id="log-submit" value="Log In">
        <input type="hidden" name="redirect_to" value="https://misfitathletics.com/wp-admin/">
        <input type="hidden" name="instance" value="">
        <input type="hidden" name="action" value="login">
    </div>

    <div class="tml-form__links aligncenter">
        <h5>Don't have an account?</h5>
        <p><a href="/users/signup" class="button button--purple">Sign up</a></p>
    </div>
    </form>
    
  </body>
</div>



    