<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>

  <body>
    <style>
      body {
        background: url(images/stone_background.jpg) no-repeat center center fixed ;
        background-size: cover ;
        height: 100%;
        position: relative;
        width: 100%;
      }
      </style>
    <form class="form-login" name="loginform" id="loginform" action="/login" method="post">
    <h2 class="welcome">Welcome Back!</h2>
                    
    <div class="form-row">
       <label class="form-label" for="user_login"></label>
       <input type="text" name="email" id="user_email" class="form-input" value="" size="20" placeholder="Username@email.com">
    </div>

    <div class="form-row">
      <label class="form-label" for="user_login"></label>
      <input type="text" name="password" id="user_password" class="form-input" value="" size="20" placeholder="Password">
    </div>

    <div class="login-form_footer">
        <input class="submit-button" type="submit" name="log-submit" id="log-submit" value="Login">
    </div>

    <div class="tml-form__links aligncenter">
        <h5>Don't have an account?</h5>
        <p><a href="/users/signup" class="button button--purple">Sign up</a></p>
    </div>
    </form>
    
  </body>
</div>



    