<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <body>
    <div class="container-index">
    
      <div class="title-index">
        <h2>Welcome to Whiteboard
        </h2>
        
        
      </div>

      <div class="content">
        <p>This application will allow you to create an athlete page in order to track your fitness date.  You will be able to login, track personal workouts, and track your performance against other athletes on class workouts!</p>
        <br></br>
        <p><strong>Please <a href="/users/login">login<a/> to continue.</p>
      </div>
    </div>
  </body>
</div>
