<div class="container">
<link rel="stylesheet" href="/stylesheets/main.css" />
  <header></header>
  <body>
    <div class="container-index">
    
      <div class="title-index">
        <h2>Welcome to Whiteboard
        </h2>
        
        
      </div>

      <div class="content">
        <p>Welcome to the Sinatra Template!</p>
       
      </div>
    </div>
  </body>
</div>
