<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Whiteboard</h2>

    <div class="content">
      <p>Welcome to the Sinatra Template!</p>
    </div>

    

  </div>
</div>
