<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Whiteboard</h2>
    <br></br>
    <div class="content">
      <h3>Today's Workout </h3>
    </div>

    

  </div>
</div>
