
<div class="container-image">
  <img src="/images/wbban.jpg" width=100%> 
  <div class="wbban">
  </div>
  <div class="bottom-table">
    <table class="athlete-table">
      <tr class="wb-row">
        <td class="wbtext">Whiteboard</td>
      </tr> 
    </table>
  </div>
</div>
<br></br>
    <div style="text-indent: 16px;">
      <% if admin? %>
        <h3><a href= "/admin/create_entry">Add Workout</h3>
      <% end %>
    </div>
    <br></br>
    <div class="content">
    <h2>Today's Workout </h2>
    </div>
    
    <br></br>
    <br></br>
    <table>
      <% User.all.each do |user| %>
      
        <% if user.admin == true %>
          <table>
            <% user.user_posts.each do |user_post| %>
              
                <td class="journal-cella">
                  <a href="/users/user_posts/<%= user_post.id %>"><%=user_post.created_at.to_formatted_s(:long_ordinal)%>
                </td>
                <td class="journal-cellb"> </a><strong><%= user_post.workout_name%></strong> </td> 
                <td class="journal-cellb"> </a><strong><%= user_post.workout%></strong> </td>
                    
          
          </tr>
            <% end %>
          </table>
        <% end%>
      
          
        </td>
        
      <% end %>
    </table>

